/* src/app/globals.css */
/*@import "tailwindcss";*/
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-body: 'Noto Sans Thai', sans-serif;
  --font-header: 'Kanit', sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  font-family: 'Noto Sans Thai', sans-serif;
  background: var(--background);
  color: var(--foreground);
}
