/* src/app/globals.css */
/*@import "tailwindcss";*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* 👇 ไม่ต้องใส่ font-family ที่นี่ ถ้าใช้ Tailwind */
}
